@import url('https://fonts.googleapis.com/css2?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

/*Basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*Global styles*/
html {
  font-size: 10px;
}

body {
  background: #f2f2f2;
  font-size: 16px;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}